/* ################# VARIABLES ################# */
.container, .container-fluid, .row > [class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

/*################## MIXINS ################*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1021px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 798px;
  }
}

.container-fluid {
  width: 100%;
  max-width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.row .col-1 {
  width: 8.33333%;
}

.row .col-2 {
  width: 16.66667%;
}

.row .col-3 {
  width: 25%;
}

.row .col-4 {
  width: 33.33333%;
}

.row .col-5 {
  width: 41.66667%;
}

.row .col-6 {
  width: 50%;
}

.row .col-7 {
  width: 58.33333%;
}

.row .col-8 {
  width: 66.66667%;
}

.row .col-9 {
  width: 75%;
}

.row .col-10 {
  width: 83.33333%;
}

.row .col-11 {
  width: 91.66667%;
}

.row .col-12 {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .row .col-lg-1 {
    width: 8.33333%;
  }
  .row .col-lg-2 {
    width: 16.66667%;
  }
  .row .col-lg-3 {
    width: 25%;
  }
  .row .col-lg-4 {
    width: 33.33333%;
  }
  .row .col-lg-5 {
    width: 41.66667%;
  }
  .row .col-lg-6 {
    width: 50%;
  }
  .row .col-lg-7 {
    width: 58.33333%;
  }
  .row .col-lg-8 {
    width: 66.66667%;
  }
  .row .col-lg-9 {
    width: 75%;
  }
  .row .col-lg-10 {
    width: 83.33333%;
  }
  .row .col-lg-11 {
    width: 91.66667%;
  }
  .row .col-lg-12 {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .row .col-md-1 {
    width: 8.33333%;
  }
  .row .col-md-2 {
    width: 16.66667%;
  }
  .row .col-md-3 {
    width: 25%;
  }
  .row .col-md-4 {
    width: 33.33333%;
  }
  .row .col-md-5 {
    width: 41.66667%;
  }
  .row .col-md-6 {
    width: 50%;
  }
  .row .col-md-7 {
    width: 58.33333%;
  }
  .row .col-md-8 {
    width: 66.66667%;
  }
  .row .col-md-9 {
    width: 75%;
  }
  .row .col-md-10 {
    width: 83.33333%;
  }
  .row .col-md-11 {
    width: 91.66667%;
  }
  .row .col-md-12 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .row .col-sm-1 {
    width: 8.33333%;
  }
  .row .col-sm-2 {
    width: 16.66667%;
  }
  .row .col-sm-3 {
    width: 25%;
  }
  .row .col-sm-4 {
    width: 33.33333%;
  }
  .row .col-sm-5 {
    width: 41.66667%;
  }
  .row .col-sm-6 {
    width: 50%;
  }
  .row .col-sm-7 {
    width: 58.33333%;
  }
  .row .col-sm-8 {
    width: 66.66667%;
  }
  .row .col-sm-9 {
    width: 75%;
  }
  .row .col-sm-10 {
    width: 83.33333%;
  }
  .row .col-sm-11 {
    width: 91.66667%;
  }
  .row .col-sm-12 {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .row .col-xs-1 {
    width: 8.33333%;
  }
  .row .col-xs-2 {
    width: 16.66667%;
  }
  .row .col-xs-3 {
    width: 25%;
  }
  .row .col-xs-4 {
    width: 33.33333%;
  }
  .row .col-xs-5 {
    width: 41.66667%;
  }
  .row .col-xs-6 {
    width: 50%;
  }
  .row .col-xs-7 {
    width: 58.33333%;
  }
  .row .col-xs-8 {
    width: 66.66667%;
  }
  .row .col-xs-9 {
    width: 75%;
  }
  .row .col-xs-10 {
    width: 83.33333%;
  }
  .row .col-xs-11 {
    width: 91.66667%;
  }
  .row .col-xs-12 {
    width: 100%;
  }
}

.btn {
  border: 1px solid #333;
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
}

.btn > i {
  font-size: 14px;
}

.pero .btn {
  font-size: 30px;
}

@media screen and (max-width: 1200px) {
  .pero .btn {
    font-size: 28px;
  }
}

@media screen and (max-width: 991px) {
  .pero .btn {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  .pero .btn {
    font-size: 24px;
  }
}

@media screen and (max-width: 576px) {
  .pero .btn {
    font-size: 22px;
  }
}

.btn:hover {
  border-width: 3px;
}

.btn.btn-blue {
  background: blue;
}

.btn.btn-blue:hover {
  background: rgba(92, 125, 197, 0.829);
}

@media screen and (max-width: 1200px) {
  .btn {
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) {
  .btn {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .btn {
    font-size: 12px;
  }
}
