body{
    margin: 0;
    font-family:'Times New Roman' serif;
}

.sidebar-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    margin: 1em;
}

.nav{
    background: #fff;
    margin: 10px;
    font-family: Georgia serif;    
}

.button{
    margin: 10px;
    color: seashell;
    background: purple;
}
.container-main{
    position: absolute;
}

.top-panel{
    background: darkslategray;
}

.middle-panel